<div (scroll)="detectScroll()">
  <app-navbar [scrollDeltaY] = "scrollDeltaY" (openModal)="showModal = true"></app-navbar>
</div>

<div style="background-color: var(--grey);" class="mt-5">
  <div class="container p-4">
    <div class="card p-4 shadow border-0">
      <h1>Design System</h1>
    </div>
  </div>

  <div>
    <app-design-system></app-design-system>
    <hr>
    <span class="m-4"><app-faq></app-faq></span>
    <hr>
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4">
        <app-generic-card></app-generic-card>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <app-generic-card></app-generic-card>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <app-generic-card></app-generic-card>
      </div>
      
  
    </div>
  </div>
</div>
<app-modal-setting (closeModal)="showModal = false" *ngIf="showModal"></app-modal-setting>